{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "importOrderParserPlugins": ["typescript"],
  "importOrder": [
    "^@(.*)$",
    "(.*)(icons)/(.*)",
    "^../../",
    "./(?!.Styles$).",
    "./(.*)Styles$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
